*{margin:0;padding:0;}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}
.avatar{
    position: relative;
    width:100px;
    height:100px;
    background-image:url('http://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1586017535438&di=25a7a9420604dc834dc53445b0f61b53&imgtype=0&src=http%3A%2F%2Fpics4.baidu.com%2Ffeed%2F29381f30e924b899bafaa84ab23454930b7bf6b3.jpeg%3Ftoken%3Dbe964c97d1eeddced7965e8536e6e9aa%26s%3D891A835543544C665A05EC7B0300D03B');
    background-position:center;
    background-size:cover;
    border-radius:50%;
}
.avatar::before,
.avatar::after{
    --scale:0;
    --arrow-size:10px;
    --tooltip-color:green;
    position:absolute;
    left:50%;
    transform:translateX(-50%) translateY(var(--translate-y,0)) scale(var(--scale));
    top:-0.7rem;
    transition:150ms transform;
    transform-origin:bottom center;
}
.avatar::before{
    --translate-y:calc(-100% - var(--arrow-size));
    content:attr(data-tooltip);
    color:white;
    text-align:center;
    padding:.5rem;
    width:max-content;
    max-width:100%;
    background:var(--tooltip-color);
    border-radius:.3rem;
    top:-0.1rem;
}
.avatar:hover::before,
.avatar:hover::after{
    --scale:1;
}
.avatar::after{
    --translate-y:calc(-1*var(--arror-size));
    content:'';
    border:var(--arrow-size) solid transparent;
    border-top-color:var(--tooltip-color);
    transform-origin:top center;
}
